.above-fold-section,
.search-form,
.search-section-tree-counter,
.search-form__input[data-v-f9b8ea00],
input,
header,
footer,
.layout__content,
.main,
.mainline,
div,
h1,
h2:not(.result-title__heading),
h3,
h4,
h5,
h6,
p {
    background-color: #121 !important;
    color: #EEE !important;
}

button,
.personal-counter__text,
.button {
    background-color: #008009 !important;
    color: #EEE !important;
}

a,
.main-footer__link {
    color: #E44 !important;
}

a:not(.tab__link, .logo):visited {
    color: #E4A !important;
}

.result__source {
    color:#C77 !important;
}